<div class="row">
	<div class="offset3 span6">
		<h1 class="text-info">Real Time Adventures</h1>
      <div ng-repeat="(key, story) in stories">
        <div ng-hide="story.published == false">
          <a class="adventure-title" ng-href="/#/story/{{key}}">{{story.title}}</a>
          <blockquote ng-bind="story.description"></blockquote></div>
      </div>
    <div class="sidebar visible-desktop"> 
      <hr/>
        <a href="/#/login">Create your own adventure</a></p>
    </div>
	</div>
  <div class="span3"></div>
</div>
