<div class="row">
	<div class="sidebar"> 
		<h4><a href="/#">Story Index</a></h4>
		<div ng-repeat="story in stories">
			<a ng-href="/#/story/{{story.sceneId}}">{{story.title}}</a>
		</div>
	</div>
	<div class="span3"></div>
	<div class="span8">
		<h1 class="scene-title">Real Time Adventures</h1>
		<p class="text">Welcome! Please select an adventure from the left-hand side. If you would like to create your own adventure, visit our <a href="http://admin.real-time-adventures.com">Admin</a> page. Enjoy!</p>
	</div>
	<div class="span1">
	</div>
</div>
