<div class="row">
  <div class="offset3 span6">
    <h1 class="text-info" ng-bind="story.title"></h1>
          <blockquote ng-bind="story.description"></blockquote>
    <h5>by <span ng-bind="story.author"></span></h5>
    <hr />
    <div class="scene" ng-repeat="scene in scenes">
      <h2 class="scene-title">{{scene.title}}</h2>
      <div class="row">
        <div class="span6">
          <p class="text" ng-repeat="text in scene.paragraphs track by $index" ng-bind="text"></p>
          <div class="centering"></div>
        </div>
        <div class="span6"></div>
      </div>
    </div>
  </div>
  <div class="span3">
  </div>
  <div class="offset3 span6">
    <div class="row">
      <div class="span6">
        <div class="well choices">
          <div ng-bind-html="choiceText" ng-hide="choiceText == ''"></div>
          <p ng-show="getMore" ng-click="goBack()">Go back a scene</p>
          <p ng-repeat="choice in choices" ng-click="clickChoice(choice.sceneId)"><span ng-bind="choice.description"></span></p> 
        </div>
        <a href="/">More Adventures</a>
      </div>
      <div class="span6"></div>
    </div>
    <div ng-show="getMore" class="row">
      <hr/>
      <div class="span6">
        <div class="sidebar"> 
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://easywaker.us6.list-manage.com/subscribe/post?u=4f933907eabe7e1075e53fb00&amp;id=525ab984a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <h4>Notify Me of Updates!</h4>
              <div class="mc-field-group">
                <input type="email" value="" placeholder="Your Email Address" name="EMAIL" class="email" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
          </div>
          <!-- <h2 class="scene-title"><a href="/#">More Adventures</a></h2> -->
          <!--End mc_embed_signup-->
        </div>
      </div>
      <div class="span6"></div>
    </div>
  </div>
</div>
